<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oraclePassword" value="monit" />
    <add key="oracleUser" value="MONIT" />
    <add key="oracleDataSource" value="172.18.0.61:1521/DBPSHML" />
    <add key="peopleSoftUser" value="WBOLIVEIRA" />
    <add key="peopleSoftPassword" value="Salmo*127" />
    <add key="serviceNowUrl" value="https://dpspdev.service-now.com/api/now/table/incident" />
    <add key="serviceNowUser" value="WPRPeopleSoftIncWS" />
    <add key="serviceNowPassword" value="F)8{o@hV;=9^t+P[Ep'9" />
    <add key="loginUrl" value="http://dppshml02.dpsp.int:8000/psp/fdpsphml/&amp;cmd=login" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>